* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    color: #124d53;
    font-family: Helvetica, Arial, sans-serif;
  }

    /* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: #032529;
    display: flex;
    flex-wrap: wrap;

  }

  header h1 {
      font-weight: bold;
      font-size: 36px;
      color: #084044;
      margin: 0;
      justify-content: right;
  }

  header a {
      text-decoration: none;
      color: #3b38fc;
  }

  header nav {
      margin: 7px 0;
  }

 header nav ul {
   display: flex;
   flex-wrap: wrap;
   justify-content: right;
   align-items: center;
   list-style: none;
 }

  header nav ul li a {
      margin: 0 30px;
      font-weight: lighter;
      font-size: 1.55vw;
  }

  /* hero */
  .hero {
    background-image: url("../images/run-buddy.jpg");
    background-size: 100%;
    background height: 400px;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
